/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

body {
  font-family: 'Calibri', 'Lucida Grande', 'Trebuchet MS', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  font-size: larger;
  font-weight: bold;
}

h1 {
  font-size: 30px;
  text-align: center;
  margin-left: 20px;
  width: 75%;
  border: 1px solid rgb(128, 128, 128);
}

table#top{
  width: 100%;
}

td#right, td#left{
  padding-top: 15px;
}

ul#boxes {
  padding: 5px 5px;
  margin: 5px;
}

li {
  display: inline;
  padding: 5px;
  /*margin: 5px 5px;*/
}
/*
div.bottomborder{
  background-color: darkturquoise;
  border-bottom: 10px, solid, darkslategrey;
  padding: 5px;
}

*/
nav {
border-bottom: 2px solid black;
position: absolute;
right: 10px;
top: 15px;
width: 20%;
padding: 5px;
}

/* nav>button{

} */

#grammarboxes{
  background-color: lightgray;
  color: black;
  font-weight: bold;
  font-size: small;
}

/* why can't the border show */
table, th, td {
  /*height: 80%;
  left: 15px; */
  border-collapse: collapse;
  border: 2px solid black;
}

/*Add a container element (like <div>) with overflow-x:auto around
the <table> element to make it responsive:*/

.words{
  background: lightgray;
  display: block;
  width: auto;
  margin: 5px;
  padding: 5px;
  text-align: center;
 /* -webkit-user-select: none;
 -khtml-user-select: none;
 -webkit-touch-callout: none;
 -moz-user-select: none;
 -o-user-select: none;
 user-select: none;
 -webkit-user-drag: element; */
}

/* this is not changing anything */

/*svg.g {
  border: 1px solid rgba(160, 160, 160, 0.349);
  height: 50%;
  width: 75%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0 px;
  padding-top: 10px;
  margin-left: 20px;

} */


/*#bottompanel > svg.g {
   padding: 5px;
  margin: 15px;
  /display: in-line;
  margin-bottom: 5px;

} */

/* future project, fix the coding of the shapes panel to be more responsive*/

/* #sidebar {
  height: 90%;
  width: 20%;
  position: fixed;
  z-index: 1;
  right: 5px;
  bottom: 5px;
  border: 1px solid rgba(160, 160, 160, 0.349);
  overflow-x: scroll;
  padding-top: 10px;
  padding-left: 15px;
} */

/* Position and style the close button (top right corner) */
/*#sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  background-color: rgba(255, 255, 255, 0.274);
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/* @media screen and (max-height: 450px) {
  #sidebar {padding-top: 15px;}
  #sidebar a {font-size: 18px;}
}
*/